@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
.navbar
  span.site-name
    font-family: 'Staatliches', cursive;
    font-size 1.6rem
    font-weight 600
    color $textColor
    position relative
    vertical-align middle